#encabezado{
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: #553D2A ;
    color: #E3D7BF;
    text-align: center;
}

#encabezado{
    display: inline;
}
#menu{
    position: absolute;
    top: 8%;
    left: 0;
    height: 4%;
    width: 100%;
    background-color: black;
    color: white;
}
#menu a {
    background-color:  brown;
    color: white;
}
#menu a:hover {
    background-color:  green;
    color: white;
}

#barralateral{
    position: absolute;
    top: 12%;
    left: 0;
    height: 81%;
    width: 20%;
    background-color: #AB846E;
    color: white;
    padding: 10px;
}

#contenido{
    position: absolute;
    top: 12%;
    left: 20%;
    height: 81%;
    width: 80%;
    background-color: #F9EEE8;
    padding: 10px;
    overflow: auto;
}

#encabezadotabla{
    background-color: #6A4E36;
    color: white;
}

#tablaresumen{
    background-color: #AB9680;
    color: black;
}

#piepagina{
    position: absolute;
    bottom:0;
    left: 0;
    height: 4%;
    width: 100%;
    background-color: #EFB810;
    overflow: auto;
    text-align: center;
}
